DB_HOST=100.92.51.27
DB_PORT=3306
DB_NAME=db_auth
DB_USER=equipo
DB_USERNAME=equipo
DB_PASSWORD=PEGAR_LA_CLAVE_DE_MYSQL

JWT_SECRET=PEGAR_EL_JWT_SECRET_BASE64_COMPARTIDO
JWT_EXPIRATION=86400000

# compras-service (opcional: permite sobrescribir solo este servicio)
PURCHASES_PORT=8082
PURCHASES_DB_URL=jdbc:mysql://100.92.51.27:3306/db_purchases?createDatabaseIfNotExist=true&serverTimezone=UTC
PURCHASES_DB_USERNAME=equipo
PURCHASES_DB_PASSWORD=PEGAR_LA_CLAVE_DE_MYSQL
PRODUCTOS_SERVICE_URL=http://localhost:3001