DB_HOST=100.92.51.27
DB_PORT=3306
DB_NAME=db_productos_deseados
DB_USER=equipo
DB_PASSWORD=PEGAR_LA_CLAVE_DE_MYSQL

PORT=3003
PRODUCTS_SERVICE_URL=http://localhost:3001
JWT_SECRET=PEGAR_EL_JWT_SECRET_BASE64_COMPARTIDO